<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block maintitle %} {% endblock %} Spatio-temporal search in Open Data
        </title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='semantic/semantic.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery-ui.min.css')}}">
	    <link rel="stylesheet" id="themeCSS" href="{{ url_for('.static', filename='css/classic.css')}}">

        {% block headcss %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/csvengine.css')}}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('.static', filename='jquery-ui.min.js')}}"></script>
        <script src="{{ url_for('.static', filename='jquery.query-object.js')}}"></script>
        <script src="{{ url_for('.static', filename='rangeslider/jQDateRangeSlider-min.js')}}"></script>


        <script src="{{ url_for('.static', filename='semantic/semantic.min.js')}}"></script>

        {% block headscripts %}  {% endblock %}

        <style>
            .ui.card .meta {
                font-size: 0.8em;
            }
            {% block headerstyle %}

            {% endblock %}
        </style>
        <script>
            {% block headscript %}

            {% endblock %}
        </script>
    </head>

    <body class="Site">

    <!-- HEADER -->
        <header id="header" class="ui vertical segment">
            <h1 class="ui header fifteen wide column">
                <div class="content">
                    Spatio-temporal search in Open Data
                    <div class="sub header"></div>
                </div>
                <a href="http://data.wu.ac.at/">
                    <img  class="ui small image" style="width: auto; height: auto;max-width: 120px;max-height: 70px" src="{{ url_for('.static', filename='img/wu.png')}}">
                </a>
            </h1>
        </header>

    <!-- MAIN NAVIGATION -->
        <nav id="mainnav" class="ui  fluid secondary stackable pointing icon menu " >
            {% set navigation_bar = [
                    ('ui.index','search', 'Search', 'search'),
                    ('ui.sparql','sparql', "SPARQL", 'sparql'),
                    ('ui.api','api', "API", 'api'),
                    ('ui.about','about', 'About', 'about')
                ]
            -%}
                {#,
                    ('ui.kgsearch','kgsearch', 'Knowledge Graph', 'kgsearch'),
                    ('ui.geotagging', 'geotagging', 'Geo Tagging','table')
                #}
            {% set active_page = active_page|default('search') -%}
            {% for href, id, caption, icon  in navigation_bar %}
                <a class="link item {% if id == active_page %}active{% endif%}" href="{{ url_for(href)|e }}">
                    <i class="icon {{icon}}"></i>
                    {{ caption|e }}
                </a>
            {% endfor %}
            <!--<div class="right menu">
                <a href="{{url_for('ui.about')}}" class="ui item {% if id == active_page %}active{% endif%}">About</a>
            </div>-->
        </nav>


    <!-- CONTENT -->

        <main class="Site-content">
            <section class="ui text">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    <!-- FOOTER  -->
        <footer class="ui background vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="ten wide column">
                        <h4 class="ui grey header">We use data from:</h4>

                        <div class="ui inverted horizontal relaxed link list">
                            <a class="item" href="http://www.geonames.org/">
                                <div class="content" style="color: #363;font-family: Arial, Helvetica, Sans-Serif;font-size: 20px;">
                                    GeoNames
                                </div>
                            </a>
                            <a class="item" href="https://www.openstreetmap.org/">
                                <img class="ui avatar image" src="{{ url_for('.static', filename='img/Openstreetmap_logo.svg')}}">
                                <div class="content">
                                  <div class="header">OpenStreetMap</div>
                                </div>
                            </a>
                            <a class="item" href="http://wiki.dbpedia.org/">
                                <img class="ui avatar image" src="{{ url_for('.static', filename='img/dbpedia.png')}}">
                                <div class="content">
                                  <div class="header">DBpedia</div>
                                </div>
                            </a>
                            <a class="item" href="https://www.wikidata.org/">
                                <img class="ui avatar image" src="{{ url_for('.static', filename='img/wikidata.png')}}">
                                <div class="content">
                                  <div class="header">Wikidata</div>
                                </div>
                            </a>
                            <a class="item" href="http://perio.do/">
                                <img class="ui top aligned tiny image" src="{{ url_for('.static', filename='img/periodo_w.png')}}">
                            </a>
                        </div>
                    </div>
                    <div class="six wide column">
                    <!-- <h4 class="ui grey header">About:</h4>
                        <div class="ui inverted link list">
                            <a href="http://data.wu.ac.at/" class="item">data.wu.ac.at</a>
                            <a href="https://www.wu.ac.at/en/infobiz/" class="item">Institute for Information Business</a>
                        </div>
                    -->
                        <div class="content">
                            <a href="https://www.communidata.at/">
                                <img class="ui middle aligned centered small image" src="{{ url_for('.static', filename='img/cd.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <!-- SCRIPTS -->
        <script>
            {% block script %} {% endblock %}
        </script>
    </body>
</html>