{% extends "base_layout.jinja" %}

{% set active_page = "eswc" -%}
{% block content %}
<div class="ui  container">
    <h2 class="ui header">ESWC'18 Datasets & Evaluations</h2>
    <div class="container ui">
        <div class="ui top attached tabular menu">
          <div class="active item" data-tab="first">Random sample testing</div>
          <div class="item" data-tab="second">Not labelled datasets</div>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
        <p>
            To show the performance and limitations of our geo-labelling approach we randomly selected ten datasets per data portal (using the ElasticSearch's built-in <a href="https://www.elastic.co/guide/en/elasticsearch/guide/current/random-scoring.html">random function</a>).
            We manually categorize the datasets' labels by assigning the following tags:
        </p>

<div class="ui segment">
            <div class="ui relaxed divided list">
              <div class="item">
                <div class="ui green label">
                  Correct column labels
                </div>
                The values in one or multiple columns are correctly detected and assigned.
              </div>
              <div class="item">
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                The correct metadata labels are included in the assigned label set.
              </div>
              <div class="item">
                <div class="ui pink label">
                  Incorrect GeoNames labels
                </div>
                Some of the individual GeoNames column labels are incorrect.
              </div>
              <div class="item">
                <div class="ui violet label">
                  Incorrect OSM labels
                </div>
                Some of the individual OpenStreetMap (OSM) column labels are incorrect.
              </div>
              <div class="item">
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                Some of the assigned metadata labels are incorrect.
              </div>
              <div class="item">
                <div class="ui black label">
                  No geo-spatial data
                </div>
                There is no geo-spatial data in this dataset.
              </div>
              <div class="item">
                <div class="ui red label">
                  Not assigned
                </div>
                There are potentially geo-references in the dataset but the respective labels are not in the knowledge graph or the algorithm could not detect the entities.
              </div>
            </div>
</div>


        <p>
        Initially, a total of 40 datasets - ten datasets per indexed portal - were randomly selected.
        Out of these 40 we identified 16 datasets which did not contain any geo-spatial data that could be mapped.
        All these 16 datasets without geo-spatial data are published on the two non-governmental portals opendataportal.at and offenedaten.de.
        From the remaining 24 datasets we identified in 17 datasets correct labels, while for 4 datasets we assigned incorrect OSM labels and also for 4 datasets incorrect GeoNames labels.
        </p>
        <p>
        For 7 datasets we identified some content that would have been some additional geo-information but was not labelled by our approach.
        For instance, a dataset contains sub-district labels of a city which are not present in the knowledge graph, or city/region names are embedded in text and use abbreviations (e.g. "Str" for the German word Straße).
        </p>
        <p>
        For 33 out of the 40 datasets we were able to derive a correct metadata label based on the title or publisher of the dataset.
        However, for 32 datasets we derived some incorrect metadata labels. For instance, given the publisher ``Stadt Wien'' we link the two geo-entities ``Vienna'', the city of Vienna, Austria, and ``Stadt'', a German city in Saxony.
        An easy fix to these issues is to restrict the metadata labels to the origin country of the portal, however, we wanted to stay with our approach as general as possible and so that we do not restrict the labels to national datasets only.
        Also, given that we use the labels in a search engine, these false positives can be considered as an minor issue, i.e. down-rated by an adequate ranking of the results, with the benefits of a more comprehensive result set.
        </p>


        <p>
        <h2>data.gv.at</h2>
 <div class="ui relaxed divided list">
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtWo/WO_2016_Sanierung_Kleinhausbau.csv">Sanierung Kleinhausbau - Bewilligungen 2016</a>
     <div class="description">http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtWo/WO_2016_Sanierung_Kleinhausbau.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://gis.ktn.gv.at/OGD/Bildung_Forschung/schulerklassen201516stand01102015.csv">Schüler- und Klassenzahlen pro Schule (Pflichtschule) in Kärnten je Schuljahr</a>
     <div class="description">http://gis.ktn.gv.at/OGD/Bildung_Forschung/schulerklassen201516stand01102015.csv</div>
                 <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui violet label">
                  Incorrect OSM labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
  </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://www.wien.gv.at/politik/wahlen/ogd/bp163_99999999_9999_wvb.csv">Bundespräsidentenwahlen Wien</a>
     <div class="description">https://www.wien.gv.at/politik/wahlen/ogd/bp163_99999999_9999_wvb.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
  </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtGes/OGD_Rettungssanitaeter.csv">Rettungssanitäter Ausbildungsstätten in Oberösterreich</a>
     <div class="description">http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtGes/OGD_Rettungssanitaeter.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtStat/Gemeindekennzahlen_2015_OGD.csv">Finanzgebarung der Gemeinden in Oberösterreich</a>
     <div class="description">http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_abtStat/Gemeindekennzahlen_2015_OGD.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.linz.gv.at/katalog/kultur/bildung/pflichtschulen/sonderschule/2010/SOSHL_2010.csv">Sonderschulen</a>
     <div class="description">http://data.linz.gv.at/katalog/kultur/bildung/pflichtschulen/sonderschule/2010/SOSHL_2010.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://open-data.noe.gv.at/ogd-data/RU2/noe_pop_sex_2011-2016_lau2.csv">Bevölkerung nach Geschlecht und Gemeinden</a>
     <div class="description">http://open-data.noe.gv.at/ogd-data/RU2/noe_pop_sex_2011-2016_lau2.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
  </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://gis.tirol.gv.at/ogd/arbeit/BESCH_OENACE_2013.csv">Beschäftigte nach Wirtschaftsklassen in Tirol</a>
     <div class="description">https://gis.tirol.gv.at/ogd/arbeit/BESCH_OENACE_2013.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui pink label">
                  Incorrect GeoNames labels
                </div>
     </div>
  </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.linz.gv.at/katalog/stadt/gebaeude/ueberwiegende_nutzung/2009/tgenutzg_2009.csv">Überwiegende Nutzung der Gebäude</a>
     <div class="description">http://data.linz.gv.at/katalog/stadt/gebaeude/ueberwiegende_nutzung/2009/tgenutzg_2009.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">Sub-district labels of city are not present in knowledge graph</div>

     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://www.wien.gv.at/statistik/ogd/w03-accountsexpendituresectors-vie.csv">Finanzgebarung der Stadt Wien: Bereich Ausgaben Zeitreihe Wien</a>
     <div class="description">https://www.wien.gv.at/statistik/ogd/w03-accountsexpendituresectors-vie.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
  </div>
 </div>


<h2>govdata.de</h2>

<div class="ui relaxed divided list">
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://www.offenesdatenportal.de/dataset/f0605fd2-e4cb-4201-b8c8-d9c8dd1840f7/resource/319cc1b7-516e-43da-ae00-5b0ca206f17c/download/einwohner2014.csv">Kreis Kleve: Einwohnerstatistik im Kreis Kleve 2014</a>
     <div class="description">https://www.offenesdatenportal.de/dataset/f0605fd2-e4cb-4201-b8c8-d9c8dd1840f7/resource/319cc1b7-516e-43da-ae00-5b0ca206f17c/download/einwohner2014.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">District names are embedded in text</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://offenedaten-koeln.de/sites/default/files/2017_Wahlgebaeude_LTW_Koeln.csv">Stadt Köln: Wahlgebaeunde Koeln Landtagswahl 2017</a>
     <div class="description">https://offenedaten-koeln.de/sites/default/files/2017_Wahlgebaeude_LTW_Koeln.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">Addresses use abbreviations, e.g., "Str." for "Straße"</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://wahlen.kdvz-frechen.de/kdvz/bw2005/05358036/html5/Bundestagswahl6.csv">D15 Bundestagswahlen Linnich</a>
     <div class="description">http://wahlen.kdvz-frechen.de/kdvz/bw2005/05358036/html5/Bundestagswahl6.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">District names are embedded in text</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat259-2013_20161121.csv">D08 Familien nach Größe Gemeinde Kreuzau</a>
     <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat259-2013_20161121.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui pink label">
                  Incorrect GeoNames labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://www.landesdatenbank.nrw.de/link/tabelleDownload/22111-06iz.csv">NRW: Bruttoausgaben der Sozialhilfe an Leistungsberechtigte nach Ort der Leistungserbringung, Art der Hilfen (32) sowie des Trägers - kreisfreie Städte und Kreise - Jahr</a>
     <div class="description">https://www.landesdatenbank.nrw.de/link/tabelleDownload/22111-06iz.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">City/region names are embedded in text and uses abbreviations</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://opendata.meerbusch.de/dataset/8c216129-2044-496b-be06-dd886ea5eb3a/resource/c3e27d1a-ede4-4f71-91c5-887a4a19f343/download/bevolkerungsbewegung-in-osterath-ab-2010.csv">Bevölkerungsbewegung nach Stadtteilen</a>
     <div class="description">https://opendata.meerbusch.de/dataset/8c216129-2044-496b-be06-dd886ea5eb3a/resource/c3e27d1a-ede4-4f71-91c5-887a4a19f343/download/bevolkerungsbewegung-in-osterath-ab-2010.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">A single value in a column, no other context.</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/Gewerbe_Titz_final.csv">D16 Gewerbeanmeldungen Gemeinde Titz</a>
     <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/Gewerbe_Titz_final.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui violet label">
                  Incorrect OSM labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat287-2010_20161121.csv">D07 Familien mit Anzahl Kinder Gemeinde Merzenich</a>
     <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat287-2010_20161121.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui pink label">
                  Incorrect GeoNames labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://www.stadt-koeln.de/wahlen/verbundwahl_2014/Europawahl5.csv">Stadt Köln: Datensätze zur Verbundwahl 2014</a>
     <div class="description">http://www.stadt-koeln.de/wahlen/verbundwahl_2014/Europawahl5.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui red label">
                  Not assigned
                </div>
                <div class="description">District names are embedded in text</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat429-2011_20161121.csv">D08 Familien nach Größe Stadt Wesseling</a>
     <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat429-2011_20161121.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
 </div>

<h2>offenedaten.de</h2>
<div class="ui relaxed divided list">
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.frankfurt.de/dataset/ba3f9a63-66ae-4d2b-995d-4a662960dbfb/resource/c3451694-dbcd-4586-83da-93ffc56ef995/download/bw2017zweitstadtteile.csv">Bundestagswahl 2017 Ergebnisse in Frankfurt am Main</a>
     <div class="description">http://offenedaten.frankfurt.de/dataset/ba3f9a63-66ae-4d2b-995d-4a662960dbfb/resource/c3451694-dbcd-4586-83da-93ffc56ef995/download/bw2017zweitstadtteile.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui pink label">
                  Incorrect GeoNames labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="description">Uses district names such as "Altstadt" and "Innenstadt" which are mapped incorrectly.</div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://www.berlin.de/daten/liste-der-vornamen-2014/mitte.csv">Liste der häufigen Vornamen 2014</a>
     <div class="description">http://www.berlin.de/daten/liste-der-vornamen-2014/mitte.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/355e215b-d36e-4167-bb2d-38920f9465e8/Tageskost.csv">Messergebnisse zur Radioaktivität in: Tageskost (27.09.2016)</a>
     <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/355e215b-d36e-4167-bb2d-38920f9465e8/Tageskost.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://geo.sv.rostock.de/download/opendata/landtagswahl_2016/landtagswahl_2016_ergebnisse.csv">Landtagswahl 2016</a>
     <div class="description">https://geo.sv.rostock.de/download/opendata/landtagswahl_2016/landtagswahl_2016_ergebnisse.csv</div>
                <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/59136f68-0d4e-425f-b572-167122e3be20/Sea_Gold_Rotbarschfilet.csv">Messergebnisse zur Radioaktivität in: Sea Gold Rotbarschfilet (27.02.2013)</a>
     <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/59136f68-0d4e-425f-b572-167122e3be20/Sea_Gold_Rotbarschfilet.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/53fa3af4-ab19-433e-a9ac-c2cc871469e0/Trinkwasser.csv">Messergebnisse zur Radioaktivität in: Trinkwasser (21.06.2017)</a>
     <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/53fa3af4-ab19-433e-a9ac-c2cc871469e0/Trinkwasser.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://offenedaten.frankfurt.de/dataset/88fd017f-94c1-418e-8468-ed11770eedfe/resource/b2e28995-ad55-4df4-a26d-b91342576ff2/download/obr162016bewerberinnen.csv">Wahl zum Ortsbeirat 16 | 2016</a>
     <div class="description">http://offenedaten.frankfurt.de/dataset/88fd017f-94c1-418e-8468-ed11770eedfe/resource/b2e28995-ad55-4df4-a26d-b91342576ff2/download/obr162016bewerberinnen.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/https://www.offenesdatenportal.de/dataset/96001940-55f6-4267-a36c-a30ebe917e3d/resource/2a9da541-9b78-48b9-9bdb-3c30e2a99dfb/download/btw-2017-ergebnis-stadt-krefeld.csv">Bundestagswahlergebnisse 2017 Stadt Krefeld</a>
     <div class="description">https://www.offenesdatenportal.de/dataset/96001940-55f6-4267-a36c-a30ebe917e3d/resource/2a9da541-9b78-48b9-9bdb-3c30e2a99dfb/download/btw-2017-ergebnis-stadt-krefeld.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui violet label">
                  Incorrect OSM labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://www.statistik-bremen.de/tabellen/kleinraum/stadt_ottab/ST135.csv">Stadtteil Mitte - Bremen Kleinräumig</a>
     <div class="description">http://www.statistik-bremen.de/tabellen/kleinraum/stadt_ottab/ST135.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/bf44aafa-1339-465a-b7d6-060ed75e634b/Oberflaechenwasser.csv">Messergebnisse zur Radioaktivität in: Oberflächenwasser (25.04.2016)</a>
     <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/bf44aafa-1339-465a-b7d6-060ed75e634b/Oberflaechenwasser.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
 </div>

<h2>opendataportal.at</h2>
 <div class="ui relaxed divided list">
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.wu.ac.at/portal/dataset/81738773-04d9-4d6c-860a-c6d7cdf32932/resource/c0200103-f6fc-4dcf-b14d-b74f60b6e81a/download/allcoursesandorgid12s.csv">Mapping of Courses and Organizations during SS12 at WU Vienna</a>
     <div class="description">http://data.wu.ac.at/portal/dataset/81738773-04d9-4d6c-860a-c6d7cdf32932/resource/c0200103-f6fc-4dcf-b14d-b74f60b6e81a/download/allcoursesandorgid12s.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://www.win2day.at/download/lo_1998.csv">Lotto 6 aus 45 Zahlen und Quoten 1986 bis 2013</a>
     <div class="description">http://www.win2day.at/download/lo_1998.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.opendataportal.at/dataset/fef948d8-483e-4dc5-928a-33f744115966/resource/00339813-1d71-4d0a-917d-bfe1d417ab64/download/ibmlokationen201706.csv">Lokationen / Geschäftsstellen und Standorte IBM</a>
     <div class="description">http://data.opendataportal.at/dataset/fef948d8-483e-4dc5-928a-33f744115966/resource/00339813-1d71-4d0a-917d-bfe1d417ab64/download/ibmlokationen201706.csv</div>
                 <div class="ui green label">
                  Correct column labels
                </div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui violet label">
                  Incorrect OSM labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.wu.ac.at/portal/dataset/79015497-df60-41c0-95f0-bcd728e543b3/resource/d9d3aafb-bac7-41fc-956d-4474c0f75037/download/allcoursesandevents05s.csv">All Course-Events during SS05 at WU Vienna</a>
     <div class="description">http://data.wu.ac.at/portal/dataset/79015497-df60-41c0-95f0-bcd728e543b3/resource/d9d3aafb-bac7-41fc-956d-4474c0f75037/download/allcoursesandevents05s.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://wko.at/statistik/opendata/sm/ogd_mgstat_sm_s11_bld_sp6_rf.csv">Anzahl der Spartenmitglieder der Sparte Tourismus und Freizeitwirtschaft insgesamt (aktiv + ruhend) nach Bundesland und Rechtsform ab 2001</a>
     <div class="description">http://wko.at/statistik/opendata/sm/ogd_mgstat_sm_s11_bld_sp6_rf.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.wu.ac.at/portal/dataset/812a45f5-3f69-457a-b496-dbd598456829/resource/bfe6cda0-258f-47b2-876d-2913e5459a66/download/allcoursesandevents15w.csv">All Course-Events during WS15 at WU Vienna</a>
     <div class="description">http://data.wu.ac.at/portal/dataset/812a45f5-3f69-457a-b496-dbd598456829/resource/bfe6cda0-258f-47b2-876d-2913e5459a66/download/allcoursesandevents15w.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://wko.at/statistik/opendata/ogd_grstat_anzahl_ng_1.csv">Anzahl der Unternehmensneugründungen nach Bundesland ab 1993</a>
     <div class="description">http://wko.at/statistik/opendata/ogd_grstat_anzahl_ng_1.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://www.win2day.at/download/lo_2009.csv">Lotto 6 aus 45 Zahlen und Quoten 1986 bis 2013</a>
     <div class="description">http://www.win2day.at/download/lo_2009.csv</div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.wu.ac.at/portal/dataset/3bf967d9-b3ba-445b-b2f8-5c4848203ace/resource/5f8c11e2-db13-49e3-b544-acb4db7d7aff/download/allcourses12s.csv">All Courses during SS12 at WU Vienna</a>
     <div class="description">http://data.wu.ac.at/portal/dataset/3bf967d9-b3ba-445b-b2f8-5c4848203ace/resource/5f8c11e2-db13-49e3-b544-acb4db7d7aff/download/allcourses12s.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
  <div class="item">
  <i class="large file middle aligned icon"></i>
    <div class="content">
      <a class="header" href="eswc/http://data.opendataportal.at/dataset/aa9d7108-4bbf-4db0-818e-01dec167e36b/resource/08e94fdf-0a82-461e-a214-ac89856a182c/download/regionalentwicklungschutzhuettenstmkliste2012.csv">Alpine Schutzhütten Steiermark</a>
     <div class="description">http://data.opendataportal.at/dataset/aa9d7108-4bbf-4db0-818e-01dec167e36b/resource/08e94fdf-0a82-461e-a214-ac89856a182c/download/regionalentwicklungschutzhuettenstmkliste2012.csv</div>
                <div class="ui blue label">
                  Correct metadata labels
                </div>
                <div class="ui purple label">
                  Incorrect metadata labels
                </div>
                <div class="ui black label">
                  No geo-spatial data
                </div>
     </div>
   </div>
 </div>

        </p>

        </div>
        <div class="ui bottom attached tab segment" data-tab="second">

        <p>
            We inspect and report the potential false negative errors of our system, i.e. datasets where we did not assign any labels, by selecting three random sets of tables:
            First, we select 20 random datasets where no column labels were assigned but a metadata label is available,
            second, 20 datasets where no metadata labels are available but column labels exist,
            and third, another 20 random datasets without column or metadata labels.
        </p>
        <p>
            We assigned the following tags to the datasets:
        </p>
<div class="ui segment">
            <div class="ui relaxed divided list">
              <div class="item">
                <div class="ui red label">
                  Missing column labels
                </div>
                The table contains geo-data in columns that has not been labelled appropriately by our algorithm.
              </div>
              <div class="item">
                <div class="ui black label">
                  Missing metadata labels
                </div>
                The table contains metadata information that has not been detected by our algorithm.
              </div>
            </div>
</div>

        <p>
            None of the 60 sample datasets lacks any geo-labelling based on the datasets' title and publisher.
            In particular, the 40 datasets without any assigned metadata labels do not provide any geo-information cues in this metadata.
            For 9 of the 60 datasets we identified columns with potential geo-data where the algorithm did not assign any labels.
            Particularly in the set of 20 datasets without any assigned columns and metadata we found 7 candidates with missing labels.
        </p>
        <p>
            These missed labels can grouped into three basic error classes:
            (i) The corresponding entities are missing in the base knowledge graph so that our algorithm is not able to link the labels in the column context.
            (ii) The city/region names are embedded in text, or combined with other content in a single cell, e.g., the region type.
            (iii) The column contains very few labels, below the algorithm's threshold, or, similarly, the table consists of several sub-tables, where each sub-table has a regional geo-label as "title".
        </p>

<div class="ui segment">
 <div class="ui relaxed divided list">

            <h3>No column labels / metadata labels available</h3>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat412-2015_20160920.csv">D02 Änderung Familienstände eines Jahres Stadt Brühl</a>
                  <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat412-2015_20160920.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/a7741c70-5489-4bbb-80b5-8065e51e7758">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/619ffade-bf9d-4c46-895d-b194b9666406/Rohkakaobohnen.csv">Messergebnisse zur Radioaktivität in: Rohkakaobohnen (16.01.2014)</a>
                  <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/619ffade-bf9d-4c46-895d-b194b9666406/Rohkakaobohnen.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Hamburg</div>
                  <div class="description"><a href="https://offenedaten.de/dataset/49b93424-a628-4e7d-85a1-50b2b097ad0c">http://offenedaten.de/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://offenedaten-koeln.de/sites/default/files/Rauschgiftdelikte_Fallzahlen_Koeln_2013_2014.csv">Stadt Köln: Kriminalstatistik Stadtgebiet Koeln 2014</a>
                  <div class="description">https://offenedaten-koeln.de/sites/default/files/Rauschgiftdelikte_Fallzahlen_Koeln_2013_2014.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/5e9810de-68a6-4dd6-a25c-d4b213ca095c">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://data.linz.gv.at/katalog/stadt/bauvorhaben/wohnungen_in_neuerichteten_gebaeude/2002/twoneufg_V2014_2002.csv">Wohnungen in neuerrichteten Gebäuden</a>
                  <div class="description">http://data.linz.gv.at/katalog/stadt/bauvorhaben/wohnungen_in_neuerichteten_gebaeude/2002/twoneufg_V2014_2002.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Stadt Linz</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/edbb7b55-869b-4f70-9f2d-65ae7d751bf8">http://data.gv.at/</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The corresponding entities are missing in the base knowledge graph to link the column labels.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://offenedaten-koeln.de/sites/default/files/Ehrenbuerger_Friedhof_West_Koeln.csv">Stadt Köln: Graeber Ehrenbuerger Koeln</a>
                  <div class="description">https://offenedaten-koeln.de/sites/default/files/Ehrenbuerger_Friedhof_West_Koeln.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/b275d1a5-9b18-4276-bceb-27b36e68ecd4">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat192-2013_20161104.csv">D02 Änderung Familienstände eines Jahres Stadt Heimbach</a>
                  <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat192-2013_20161104.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/0bf7f14b-3a7c-4d4f-9aeb-467e66bb2097">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_dirFin/RA_2016_Ausgaben_nach_Gruppen.csv">Rechnungsabschluss des Landes Oberösterreich</a>
                  <div class="description">http://data.ooe.gv.at/files/cms/Mediendateien/OGD/ogd_dirFin/RA_2016_Ausgaben_nach_Gruppen.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Land Oberösterreich</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/e90e9617-f65e-46a3-aca9-c3e002414d1a">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://data.linz.gv.at/katalog/tourismus/kategorien/4_5_stern_beherbergungsbetriebe/2012/t4_5ges_2012.csv">5 und 4 Stern Beherbergungsbetriebe</a>
                  <div class="description">http://data.linz.gv.at/katalog/tourismus/kategorien/4_5_stern_beherbergungsbetriebe/2012/t4_5ges_2012.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Stadt Linz</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/49f0b668-2a32-475c-86f3-4068cf642519">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.landesdatenbank.nrw.de/link/tabelleDownload/42111-05i.csv">NRW: Bergbau und Verarbeitendes Gewerbe: Betriebe, Beschäftigte und Umsatz nach Wirtschaftszweigen und Beschäftigten- größenklassen - Land - Stichtag/Jahr (ab 2007)</a>
                  <div class="description">https://www.landesdatenbank.nrw.de/link/tabelleDownload/42111-05i.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/effab142-e52f-5a53-9bde-5b8f7432f219">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.landesdatenbank.nrw.de/link/tabelleDownload/46241-11iz.csv">NRW: Verkehrsunfälle mit Personenschaden nach Unfallarten und Straßenklassen - Land - Monat</a>
                  <div class="description">https://www.landesdatenbank.nrw.de/link/tabelleDownload/46241-11iz.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/bd345591-69e0-5a1e-9d0d-e31de0efbe0d">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat551-2011_20160920.csv">D01 Vornamen eines Geburtsjahres Gemeinde Kall</a>
                  <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/EWO_990_sim_OpDat551-2011_20160920.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/d082617c-1cc1-4cdc-b510-d969a06fe151">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://data.vorarlberg.gv.at/Katalog/Tourismus/ankuenfte_und_naechtigungen.csv">Tourismus - Ankünfte und Nächtigungen</a>
                  <div class="description">http://data.vorarlberg.gv.at/Katalog/Tourismus/ankuenfte_und_naechtigungen.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Land Vorarlberg</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/2f7b4b3f-4149-4db8-b777-e189b07a1148">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.landesdatenbank.nrw.de/link/tabelleDownload/63211-64i.csv">NRW: Einkommen und Einnahmen privater Haushalte nach dem monatlichen Haushaltsnettoeinkommen des/der Haupteinkommensbeziehrs/- in - Land - Jahr</a>
                  <div class="description">https://www.landesdatenbank.nrw.de/link/tabelleDownload/63211-64i.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/2e0a1569-197e-545f-a6e2-3f249d280a5b">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.landesdatenbank.nrw.de/link/tabelleDownload/12711-63iz.csv">NRW: Zu-/Fortgezogene aus dem/in das Ausland nach Altersgruppen (unter 18, 18-25, 25-30, 30-50, 50-65, 65 und mehr) - kreisfreie Städte und Kreise - Jahr</a>
                  <div class="description">https://www.landesdatenbank.nrw.de/link/tabelleDownload/12711-63iz.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/da74dd53-320a-5f96-8de1-639ded124299">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The dataset uses abbreviations and the city names are embedded in text.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.wien.gv.at/statistik/ogd/rad_vz_2015.csv">Radverkehrszählungen Wien</a>
                  <div class="description">https://www.wien.gv.at/statistik/ogd/rad_vz_2015.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Stadt Wien</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/2e9f926c-f688-4889-856d-5e6935440c28">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/6bf9a29a-6f29-4d36-91ac-7828f5059190/Schweinefleisch__Inland__Schulter.csv">Messergebnisse zur Radioaktivität in: Schweinefleisch, Inland, Schulter (21.02.2017)</a>
                  <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/6bf9a29a-6f29-4d36-91ac-7828f5059190/Schweinefleisch__Inland__Schulter.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Hamburg</div>
                  <div class="description"><a href="https://offenedaten.de/dataset/7570e5df-1e0b-448a-91ce-ae4fe03846d4">http://offenedaten.de/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/1e59323d-026b-4e38-8b0e-40c5c1f2f591/Tageskost__Gesamtnahrung_.csv">Messergebnisse zur Radioaktivität in: Tageskost (Gesamtnahrung) (16.04.2014)</a>
                  <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/1e59323d-026b-4e38-8b0e-40c5c1f2f591/Tageskost__Gesamtnahrung_.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Hamburg</div>
                  <div class="description"><a href="https://offenedaten.de/dataset/0b264edb-d884-4700-8034-631ed72ec83d">http://offenedaten.de/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/7043dd2b-3008-4871-8461-4d9fd4f180aa/Speisefruehkartoffeln.csv">Messergebnisse zur Radioaktivität in: Speisefrühkartoffeln (27.04.2017)</a>
                  <div class="description">http://daten.transparenz.hamburg.de/Dataport.HmbTG.ZS.Webservice.GetRessource100/GetRessource100.svc/7043dd2b-3008-4871-8461-4d9fd4f180aa/Speisefruehkartoffeln.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Hamburg</div>
                  <div class="description"><a href="https://offenedaten.de/dataset/750f5319-6024-415a-9543-b033d65c7e2e">http://offenedaten.de/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://data.linz.gv.at/katalog/population/todesfaelle/2005/Todes_2005.csv">Todesfälle</a>
                  <div class="description">http://data.linz.gv.at/katalog/population/todesfaelle/2005/Todes_2005.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Stadt Linz</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/1f8ae669-3772-409a-bf0f-47ea8c8bbef6">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://offenedaten.kdvz-frechen.de/sites/default/files/Jahresstatistik_Register.csv">D13 Archivdaten Geburten, Sterbefälle, Eheschließungen Stadt Kerpen</a>
                  <div class="description">http://offenedaten.kdvz-frechen.de/sites/default/files/Jahresstatistik_Register.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Open.NRW</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/34da5b13-67f2-420a-9637-642b122f4d4b">http://govdata.de</a></div>
                </div>
              </div>
            </div>

 </div>
</div>

<div class="ui segment">
 <div class="ui relaxed divided list">

            <h3>Column labels available / no metadata labels</h3>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.70.csv">Deutsche und ausländische Gasthörer/-innen nach Hochschularten und Ländern</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.70.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/238b06b5-fa7a-514f-94f9-51e7f9716e8a">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-02-01-5_00.csv">Gebäude mit Wohnraum nach Anzahl der Wohnungen - Stichtag 09.05.2011 regionale Tiefe: Gemeinden, Samt-/Verbandsgemeinden</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-02-01-5_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/0f58ad57-3a81-5995-92fa-8f6206c0b9b7">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.35.csv">Bildungsinländer/-innen nach Hochschularten und Herkunftsstaaten</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.35.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/d6c06db8-5cf5-532d-a0bf-a3944922d3d5">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/markenanmeldungeninlanddpmanachbundeslaendern.csv">Markenanmeldungen nach Bundesländern</a>
                  <div class="description">https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/markenanmeldungeninlanddpmanachbundeslaendern.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Deutsches Patent- und Markenamt</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/937836e0-f4de-4825-b2f8-5c3f8640a0b2">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/11111-01-01-5-B_00.csv">Gebietsstand: Gebietsfläche in qkm - Stichtag 31.12. - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/11111-01-01-5-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/9d2b91b0-980d-5a84-b3a9-e817327e4a00">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-01-01-5-B_00.csv">Gebäude mit Wohnraum und Wohnungen nach Gebäudearten - Stichtag 09.05.2011 regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-01-01-5-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/7fc55db2-d0b9-501d-b1f6-588b4c777404">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/45412-01-02-5-B_00.csv">Tourismus: Beherbergungsbetriebe, Gästebetten, -übernachtungen, -ankünfte - Jahressumme - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/45412-01-02-5-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/a1e34619-0bcb-5676-9198-bd27d56401f4">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://data.rtr.at/api/v1/tables/MedienZusatzdienst.csv">Verzeichnis der Anbieter von Zusatzdiensten</a>
                  <div class="description">https://data.rtr.at/api/v1/tables/MedienZusatzdienst.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">RTR-GmbH</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/b4eac7c7-3c55-4587-bb56-4ad1a8adb323">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/12411-07-01-5_00.csv">Durchschnittsalter der Bevölkerung - Stichtag 31.12. - regionale Tiefe: Gemeinden, Samt-/Verbandsgemeinden</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/12411-07-01-5_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/df6ffe6c-0bd2-51fb-8ce1-abbcb430d33a">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-10-01-5-B_00.csv">Wohnungen in Gebäuden mit Wohnraum nach Größenklassen der Wohnfläche - Stichtag 09.05.2011 regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-10-01-5-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/8dc2d5be-0ff8-5f77-b11b-a20f2090227c">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.57.csv">Hochschulpersonal nach Personalgruppen, Hochschularten und Ländern</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.57.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/ca6c9eb8-5a34-5660-96c0-41d0f59a8c99">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://data.rtr.at/api/v1/tables/rnOrtsnetze.csv">Rufnummern Ortsnetze</a>
                  <div class="description">https://data.rtr.at/api/v1/tables/rnOrtsnetze.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">RTR-GmbH</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/6c4f8a28-1909-4096-af71-94b6c08809fc">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://data.rtr.at/api/v1/tables/MedienAbrufdienst.csv">Verzeichnis der Anbieter von Abrufdiensten</a>
                  <div class="description">https://data.rtr.at/api/v1/tables/MedienAbrufdienst.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">RTR-GmbH</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/711cc89f-9e3f-4f33-9344-135f681198ee">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/11111-01-01-5-B_00.csv">Gebietsstand: Gebietsfläche in qkm - Stichtag 31.12. - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/11111-01-01-5-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/9d2b91b0-980d-5a84-b3a9-e817327e4a00">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-12-01-5_00.csv">Wohnungen in Wohngebäuden nach Anzahl der Räume - Stichtag 09.05.2011 regionale Tiefe: Gemeinden, Samt-/Verbandsgemeinden</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-12-01-5_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/0d3f4cb0-1e43-5c19-afcb-6a4b366301de">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-09-01-5_00.csv">Wohnungen in Gebäuden mit Wohnraum nach Anzahl der Räume - Stichtag 09.05.2011 regionale Tiefe: Gemeinden, Samt-/Verbandsgemeinden</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-09-01-5_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/8d39f2ef-5c27-5bcc-9712-8dcb83d6f03a">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/markenanmeldungeninlanddpmanachbundeslaendern.csv">Markenanmeldungen nach Bundesländern</a>
                  <div class="description">https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/markenanmeldungeninlanddpmanachbundeslaendern.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Deutsches Patent- und Markenamt</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/937836e0-f4de-4825-b2f8-5c3f8640a0b2">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.70.csv">Deutsche und ausländische Gasthörer/-innen nach Hochschularten und Ländern</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.70.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/238b06b5-fa7a-514f-94f9-51e7f9716e8a">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.50.csv">Bildungsausländer/-innen nach Hochschularten und Herkunfsstaaten</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.50.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/cd1c4376-bf6d-59e2-aca9-46c0b0aef74c">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://data.rtr.at/api/v1/tables/skp.csv">Spezielle Kommunikationsparameter</a>
                  <div class="description">https://data.rtr.at/api/v1/tables/skp.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">RTR-GmbH</div>
                  <div class="description"><a href="http://www.data.gv.at/katalog/dataset/01d6664a-9ca9-40de-a4af-55403b8f6af3">http://data.gv.at/</a></div>
                </div>
              </div>
            </div>

 </div>
</div>

<div class="ui segment">
 <div class="ui relaxed divided list">

            <h3>No column labels & no metadata labels</h3>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.4.41.csv">Schüler/-innen in Berufsschulen nach ISCED-Bildungsbereichen</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.4.41.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/b3f40017-af43-57e4-a690-345ecd5f9896">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/eingetragenedesignsdpma2016diezehnstaerkstenwarenklassen.csv">Eingetragene Designs 2016, die zehn stärksten Warenklassen</a>
                  <div class="description">https://www.dpma.de/docs/dpma/veroeffentlichungen/statistik/eingetragenedesignsdpma2016diezehnstaerkstenwarenklassen.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Deutsches Patent- und Markenamt</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/74320d0b-94a7-4bb2-9e05-13372ba29a4e">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.6.5.csv">BAföG - Männliche Geförderte nach Altersgruppen, Bedarfssatzgruppen und Ausbildungsstätten</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.6.5.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/5028767b-abba-59cb-b6ed-2ca41b30dbf9">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-0.38.csv">Bruttonationaleinkommen, Volkseinkommen und Arbeitnehmerentgelt</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-0.38.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/a76165ec-268c-54bb-805e-e96438f0f7ce">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.4.20.csv">Auszubildende nach Ausbildungsbereichen und Ausbildungsjahren</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.4.20.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/96e14d6e-d4dc-5ec6-90d5-c5107e965dd8">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/12111-11-01-4-B_00.csv">Zensus 2011, Bevölkerung nach Geschlecht/Nationalität und Erwerbsstatus - Stichtag 09.05.2011 - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/12111-11-01-4-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/cac1ee8e-306f-57d3-a729-4fb2480a48a7">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The column holding potential geo-labels combines the region type and name in one column.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.67.csv">Durchschnittsalter bei der Habilitation nach Fächergruppen</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.67.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/036444c9-edfc-5118-af73-163903196e70">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.80.csv">Studiendauer bei bestandener Prüfung nach Prüfungsgruppen und Geschlecht</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.80.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/3534ebb9-ed42-5a62-a880-c3d85d979071">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-1.1.12.csv">Ausgaben des Bundes für Wissenschaft, Forschung und Entwicklung nach Förderbereichen und Förderschwerpunkten</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-1.1.12.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/25dc1f30-0aa5-5444-87fd-7ffd2318c926">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/46251-01-02-4-B_00.csv">Kraftfahrzeugbestand nach Kraftfahrzeugarten - Stichtag 01.01. - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/46251-01-02-4-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/97f8bcb6-9f3a-55cf-a927-5203473cd26c">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The column holding potential geo-labels combines the region type and name in one column.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.5.58.csv">Hauptberufliches wissenschaftliches und künstlerisches Personal nach Hochschularten und Personal-/Vergütungsgruppen</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.5.58.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/6b3253a6-757a-5f9c-86b9-e95286af97ce">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31211-13-01-4_00.csv">Wohnungen in Wohngebäuden nach Größenklassen der Wohnfläche - Stichtag 09.05.2011 regionale Tiefe: Kreise und krfr. Städte</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31211-13-01-4_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/399afe0a-e866-52a2-9627-10884417be8a">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The column holding potential geo-labels combines the region type and name in one column.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.1.12.csv">Ausgaben für Bildungseinrichtungen im Verhältnis zum Bruttoinlandsprodukt nach Bildungsbereichen und Staaten</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.1.12.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/7a65884f-7ce5-52fc-824f-c661fab3e582">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The table contains very few label, below the algorithm's threshold.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/https://www.regionalstatistik.de/genesisws/downloader/00/31121-04-01-4-B_00.csv">Baufertigstellungen: Errichtung neuer Nichtwohngebäude nach Gebäudearten - Jahressumme - regionale Ebenen</a>
                  <div class="description">https://www.regionalstatistik.de/genesisws/downloader/00/31121-04-01-4-B_00.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Regionalstatistik</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/77c4175c-cde9-511f-aa0a-726792aa7be3">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The column holding potential geo-labels combines the region type and name in one column.</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.1.13.csv">Öffentliche Bildungsausgaben (Grundmittel) nach Ländern und Körperschaftsgruppen</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.1.13.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/7c1e6168-264b-514b-aef9-d6a267d85d03">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The table consists of several sub-tables, where each sub-table has a regional geo-label as "title".</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.4.22-2015.csv">Männliche Auszubildende in den 20 am stärksten besetzten Ausbildungsberufen nach Rangfolge und Ausbildungsbereichen 2015</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.4.22-2015.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/700060e0-62b6-5195-ab89-db7ec1db4181">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.7.13.csv">Fortbildungs-/Meisterprüfungen nach Ausbildungsbereichen und Geschlecht</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.7.13.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/1b012a0c-3af3-547b-b4d5-6ef0a26e98b2">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.3.26.csv">Hauptberufliche Lehrer/-innen nach Schularten und Ländern</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.3.26.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/8f5a7365-e211-5efe-8d77-845124632025">http://govdata.de</a></div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.datenportal.bmbf.de/portal/Tabelle-2.4.33.csv">Ausbilder/-innen nach Ausbildungsbereichen und Ländern</a>
                  <div class="description">http://www.datenportal.bmbf.de/portal/Tabelle-2.4.33.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium für Bildung und Forschung</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/ce73ea9e-eac1-5490-b811-95b94d6a1972">http://govdata.de</a></div>
                </div>
              </div>
              <div class="ui red label">
                 Missing column labels
              </div>
              <div class="description">The table consists of several sub-tables, where each sub-table has a regional geo-label as "title".</div>
            </div>

            <div class="item">
              <div class="ui grid">
                <div class="twelve wide column">
                  <a class="header" href="eswc/http://www.bundesversicherungsamt.de/fileadmin/redaktion/Gesundheitsfonds/Ein-_und_Auszahlungen_des_Gesundheitsfonds.csv">Ein- und Auszahlungen des Gesundheitsfonds 2014</a>
                  <div class="description">http://www.bundesversicherungsamt.de/fileadmin/redaktion/Gesundheitsfonds/Ein-_und_Auszahlungen_des_Gesundheitsfonds.csv</div>
                </div>
                <div class="right aligned four wide column">
                  <div class="header">Bundesministerium des Innern</div>
                  <div class="description"><a href="https://www.govdata.de/ckan/dataset/db17de03-588a-4a96-ac4e-fc93a292613a">http://govdata.de</a></div>
                </div>
              </div>
            </div>
 </div>
</div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    $('.menu .item')
      .tab()
    ;
{% endblock %}