{% extends "base_layout.jinja" %}

{% set active_page = "search" -%}

{% block content %}
<div class="ui container">
    <h2 class="ui divider horizontal header">Search Open Data</h2>

    <p style="margin-bottom: 0.3cm"/>

    <div class="ui styled fluid accordion" id="dateFilter">
      <div class="title">
        <i class="dropdown icon"></i>
        Temporal filters
      </div>
      <div class="content">
        <div class="ui grid">
            <div class="twelve wide column">
                <div class="row">
                    <div class="ui form">
                        <div class="inline fields">
                            <label>Filter results by timespan:</label>
                            <div class="field">
                              <div class="ui radio checkbox timespan_off">
                                <input type="radio" name="timespan" checked="checked">
                                <label>Off</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox timespan_metadata">
                                <input type="radio" name="timespan">
                                <label>Title & description</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox timespan_data">
                                <input type="radio" name="timespan">
                                <label>CSV columns</label>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p style="margin-bottom: 1cm"/>
                </div>

                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui fluid search selection dropdown" id="period">
                              <div class="default text">Select Period</div>
                        </div>
                    </div>
                    <div class="twelve wide column">
                        <div id="slider"></div>
                    </div>
                </div>
            </div>
            <div class="four wide right aligned column">
                <div class="row">
                    <div class="ui floating labeled icon dropdown button">
                      <i class="filter icon"></i>
                      <span class="text">Filter pattern</span>
                      <div class="menu">
                        <div class="header">
                          <i class="tags icon"></i>
                          Filter by date pattern
                        </div>
                        <div class="item" data-value="varying">
                          None
                        </div>
                        <div class="item" data-value="static">
                          Static
                        </div>
                        <div class="item" data-value="daily">
                          Daily
                        </div>
                        <div class="item" data-value="weekly">
                          Weekly
                        </div>
                        <div class="item" data-value="monthly">
                          Monthly
                        </div>
                        <div class="item" data-value="quarterly">
                          Quarterly
                        </div>
                        <div class="item" data-value="yearly">
                          Yearly
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <p style="margin-bottom: 0.3cm"/>
                </div>
                <button class="ui primary button applyFilter">Apply Filter</button>
            </div>
        </div>
      </div>
    </div>
    <p style="margin-bottom: 0.5cm"/>

    <div class="ui segment">
        {% if "entities" in data %}
            <div class="ui left rail">
                {% for entity in data.entities %}
                <div class="ui card">
                  <div class="content">
                    {% if entity.link %}
                    <a class="header" href="{{entity.link}}">{{entity.name}}</a>
                    {% else %}
                    <h class="header">{{entity.name}}</h>
                    {% endif %}

                    {% if entity.parents %}
                    <div class="meta">
                      {% set last = entity.parents|last %}
                      <a href="{{last.link}}">{{last.name}}</a>
                    </div>
                    {% endif %}

                  </div>
                  <div class="content">
                    <div class="ui list">
                        {% for ex in entity.external %}
                        <div class="item">
                            <i class="linkify icon"></i>
                            <div class="content">
                                <a href="{{ex.link}}">{{ex.name}}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                  </div>

                  {% if entity.parents %}
                  {% set first = entity.parents|first %}
                  <div class="extra content">
                    <a href="{{first.link}}">{{first.name}}</a>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="ui top sticky text vertical segment">
            <div class="ui fluid category search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" placeholder="Search..." id="keyword" value="{% if "keyword" in data %}{{data.keyword}}{% else %}{% endif %}">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {% if "results" in data %}
            {% if data.entities|length > 0 %}
            <div class="ui horizontal segments">
                {% for entity in data.entities %}
                <div class="ui segment">
                    <div class="ui big breadcrumb">
                        {% for p in entity.parents %}
                            <a class="section" href="{{ p.search }}">{{p.name}}</a>
                            <i class="right chevron icon divider"></i>
                        {% endfor %}
                      <div class="active section">{{entity.name}}</div>
                    </div>
                    <div class="ui right floated large buttons">
                      <button class="ui active primary button">Spatial entity</button>
                      <div class="or"></div>
                      <button class="ui button fulltext" id="{{entity.name}}">Full-text results</button>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="ui horizontal segments">
                <div class="ui center aligned segment">
                    <div class="ui right aligned large buttons">
                      <button class="ui active primary disabled button">Full-text results</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if data.results|length > 0 %}
                <div class="ui relaxed divided list" id="results">
                    {% for r in data.results %}
                        <div class="item">
                          <div class="ui grid">
                            <div class="one wide column">
                              <div class="ui list">
                                  <div class="item">
                                    <button class="primary circular ui icon button preview" data-tooltip="Table Preview" data-variation="small">
                                        <i class="table icon"></i>
                                    </button>
                                  </div>
                                  <div class="item">
                                    <button class="circular ui icon button visual" style="display:none;" data-tooltip="Table Visualization" data-variation="small">
                                        <i class="map icon"></i>
                                    </button>
                                  </div>
                                  <!--<div class="item">
                                    <button class="primary circular ui icon button" >
                                        <i class="info icon"></i>
                                    </button>
                                  </div>-->
                              </div>
                            </div>
                            <div class="fifteen wide column">
                              <div class="one wide column">
                              <div class="content">
                                <div class="ui grid">
                                  <div class="twelve wide column">
                                    {% if "dataset" in r %}
                                    <div class="header">{{r.dataset.dataset_name}} - <a href="{{r.url}}">{{r.dataset.name}} <i class="external small icon"></i></a></div>
                                    <div class="description">{{r.dataset.dataset_description}}</div>
                                    {% else %}
                                    <div class="header"><a href="{{r.url}}">{{r.url}} <i class="external small icon"></i></a></div>
                                    {% endif %}
                                  </div>
                                  <div class="right aligned four wide column">
                                     {% if "dataset" in r %}
                                    <div class="header">{{r.dataset.publisher}}</div>
                                    {% endif %}
                                    {% if "dataset" in r and "dataset_link" in r.dataset %}
                                    <div class="description"><a href="{{r.dataset.dataset_link}}">{{r.portal}}</a></div>
                                    {% else %}
                                    <div class="description"><a href="{{r.portal}}">{{r.portal}}</a></div>
                                    {% endif %}
                                  </div>
                                </div>
                                {% if r.row or r.headers %}
                                <div class="table tablewrapper" style="overflow-x:auto;max-width:100%;">
                                    <table class="ui table">
                                        {% if r.headers %}
                                        <thead>
                                            <tr>
                                            {% for header in r.headers %}
                                                <th>{{header}}</th>
                                            {% endfor %}
                                            </tr>
                                        </thead>
                                        {% endif %}
                                        <tbody>
                                           <tr>
                                               {% for value in r.row %}
                                                   {% if r.entities and r.entities[loop.index-1] %}
                                                        <td class="selectable positive">
                                                            <a href="{{r.entities[loop.index-1]}}" target="_blank">{{value}}</a>
                                                        </td>
                                                   {% else %}
                                                        <td>{{value}}</td>
                                                   {% endif  %}
                                               {% endfor %}
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui center aligned segment"><h4>No results found</h4></div>
            {% endif %}

        {% if data.total > 10 %}
        <div class="ui container center aligned" style="margin-bottom: 2cm">
            <div class="ui pagination menu" id="pagination">

                {% for p_i in data.pages %}
                  {% if p_i == data.currentPage %}
                      <a class="item active">
                        {{p_i}}
                      </a>

                  {% else %}
                      <a class="item">
                        {{p_i}}
                      </a>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

    {% else %}
        </div>
        {% if "randomEntities" in data %}
        <div class="ui segment">
            <h3>Example geo-entity queries</h3>
            <div class="ui four column grid">
                {% for entity in data.randomEntities %}
                <div class="column">
                    <div class="ui fluid card">
                        <div class="content">
                            <a class="header" href="{{entity.link}}">{{entity.name}}</a>
                            <div class="meta">
                              {% set last = entity.parents|last %}
                              <a href="{{last.link}}">{{last.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>

<div class="ui large modal" id="preview_modal">
  <i class="close icon"></i>
  <div class="header" id="table_header">
  </div>
  <div class="content" id="table_preview" style="height:400px;">
  </div>
</div>
</div>

<div class="ui large modal" id="visual_modal">
  <i class="close icon"></i>
  <div class="content" id="table_visual" style="height:640px;"></div>
      <div class="actions">
         <div class="ui internally celled grid">
            <div class="two wide column">
                <div class="ui header" id="num_visuals"></div>
            </div>
            <div class="ten wide column">
                <div class="ui description" id="slug_visuals"></div>
            </div>
            <div class="four wide column">
                <div class="ui buttons">
                    <button class="ui left attached icon button">
                      <i class="left chevron icon"></i>
                      Previous
                    </button>
                    <button class="ui right attached icon button">
                      <i class="right chevron icon"></i>
                      Next
                    </button>
                </div>
            </div>
         </div>
      </div>
  </div>
</div>
{% endblock %}

{% block script %}

    $('.ui.search')
      .search({
        apiSettings: {
          url: 'searchapi?q={query}'
        },
        type: 'category'
      })
    ;

    $("#results").on('click', '.preview', function() {
        url = $(this).closest('.ui .grid');
        var urlval = url.find('div.header').children().attr('href');
        $(table_header).text('Loading...')
        $(table_preview).html('<div class="ui loading segment" style="height:100%;width=100%"/>')
        loadTablePreview(urlval)
        $('#preview_modal')
          .modal('show')
        ;
    });

    $("#results").on('click', '.visual', function() {
        var modal = $('#visual_modal')[0];
        response = jQuery.data( this, "twentythree" );
        jQuery.data(modal, "twentythree", response);
        jQuery.data(modal, "currentindex", 0);
        loadTableVisual(response, 0);
        $('#visual_modal')
          .modal('show')
        ;
    });

    function loadTableVisual(response, index) {
        i = index+1
        slug = response.vizzes[index].slug
        $(num_visuals).text(i + '/' + response.found)
        $(slug_visuals).text(slug)
        $(table_visual).html('<iframe src="https://doh.23degrees.io/embed/'+slug+'" style="padding:5px 0!important; width:100%!important; height:100%!important; min-height:360px!important; max-height:620px!important" frameborder="0" scrolling="no" id="twentythree"></iframe>')
    }

    function visualAvailable(button) {
        var twentythreeurl = "https://doh.23degrees.io/services/pub/api/v1/opendata/bysourceurl";
        url = $(button).closest('.ui .grid');
        var urlval = url.find('div.header').children().attr('href');
        // Send the data using post
        var posting = $.ajax
        ({
            crossDomain: true,
            type: "POST",
            url: twentythreeurl,
            dataType: 'json',
            async: false,
            headers: {
                "Content-Type" : "application/json",
                "Authorization": "Bearer {{data.twentythree}}",
                "Cache-Control": "no-cache"
            },
            data: '{ "sourceUrl" : "'+urlval+'" }',
            success: function (response){
                if(response.found > 0) {
                    button.style.display = "block";
                    jQuery.data(button, "twentythree", response);
                } else {
                    button.style.display = "hide";
                }
            }
        });
    }
    $( ".visual" ).each(function( index ) {
        visualAvailable(this);
    });

    $(".button.fulltext").click(function() {
        var input = event.target.id;
        a = "{{ url_for('ui.search')}}"
        if(input.length > 0){
           a+="?q="+input
           window.location.href=a
        }
    });

    $(".button.left").click(function() {
        var modal = $('#visual_modal')[0];
        response = jQuery.data(modal, "twentythree" );
        index = jQuery.data(modal, "currentindex" );
        if(index==0){
            index=response.found-1;
        } else {
            index--;
        }
        jQuery.data(modal, "currentindex", index);
        loadTableVisual(response, index);
    });

    $(".button.right").click(function() {
        var modal = $('#visual_modal')[0];
        response = jQuery.data(modal, "twentythree" );
        index = jQuery.data(modal, "currentindex" );
        index = (index+1)%response.found;
        jQuery.data(modal, "currentindex", index);
        loadTableVisual(response, index);
    });

    $("#pagination").on('click', '.pagination, .item', function(){
            var page = $.trim(decodeURIComponent($(this).text()).replace(/[\t\n]+/g,' '))
            $.ajax({
                url: window.location.href,
                data: {"page": page},
                type: 'POST',
                success: function(response) {
                    $("body").html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
    });


    $("#keyword").keyup(function(event){
        if(event.keyCode == 13){
           var input = document.getElementById("keyword").value;
           a = "{{ url_for('ui.search')}}"
           if(input.length > 0){
           a+="?q="+input
               window.location.href=a
           }
        }
    });

    $('.ui.dropdown')
      .dropdown()
    ;

    $('.ui.sticky')
        .sticky()
    ;

    $('.ui.accordion')
      .accordion()
    ;

    $('.ui.accordion').accordion({
        onOpen: function() {
            $("#slider").dateRangeSlider('resize');
        }
    });

    function loadTablePreview(tableid) {
        $.get("{{ url_for('ui.preview') }}", {
            tableid: tableid
        }).done(function(table) {
            $(table_preview).empty()
            $(table_preview).append(table['data'])
            $(table_header).text(table['url'])
        }).fail(function() {
            $(table_preview).text("Error: Could not contact server.");
        });
    }

    var startD = $.query.get("start");
    if(startD != "") {
        var tmp = startD.split('-')
        startD = new Date(tmp[0], tmp[1]-1, tmp[2]);
    } else {
        startD = new Date(2010, 0, 1);
    }
    var endD = $.query.get("end");
    if(endD != "") {
        var tmp = endD.split('-')
        endD = new Date(tmp[0], tmp[1]-1, tmp[2]);
    } else {
        endD = new Date(2020, 0, 1);
    }

    $("#slider").dateRangeSlider(
      {
        bounds: {
          min: new Date(1900, 0, 1),
          max: new Date(2050, 11, 31)
        },
        defaultValues: {
          min: startD,
          max: endD
        },
        step:{
          months: 1
        },
        formatter:function(val){
            month = val.getMonth() + 1,
            year = val.getFullYear();
          return month + "/" + year;
        },
        enabled: true
      }
    );

    $(".button.applyFilter").click(function() {
        reloadWithTimespan()
    });

    function reloadWithTimespan() {
        var timespan_off = $('.ui.checkbox.timespan_off').checkbox('is checked');
        var timespan_metadata = $('.ui.checkbox.timespan_metadata').checkbox('is checked');
        var timespan_data = $('.ui.checkbox.timespan_data').checkbox('is checked');

        var dateValues = $("#slider").dateRangeSlider("values");
        var minD = dateValues.min.toISOString().split('T')[0]
        var maxD = dateValues.max.toISOString().split('T')[0]
        var patternValue = $('.ui.dropdown').dropdown('get value');

        var q = $.query
        q = q.remove('mstart')
        q = q.remove('mend')
        q = q.remove('start')
        q = q.remove('end')
        q = q.remove('pattern')

        if (timespan_metadata) {
            q = q.set("mend", maxD).set("mstart", minD);
        }
        if (timespan_data) {
            q = q.set("end", maxD).set("start", minD);
        }

        if (patternValue && patternValue != 'varying') {
            q = q.set("pattern", patternValue);
        }

        if(q) {
            window.location.href = q;
        }
    }

    $("#period").dropdown({
        apiSettings: {
          // this url returns a list of periods
          url: 'api/v1/temporal/periods?q={query}'
        },
        onChange: function(value, text, $selectedItem) {
          $.get( "api/v1/temporal/period?id="+value, function( data ) {
             if(data['success']) {
                dates = data['result']
                 startD = new Date(dates['start']);
                 endD = new Date(dates['end']);
                 $("#slider").dateRangeSlider("values", startD, endD);
             }
          });
        }
    });

{% endblock %}
