{% extends "base_layout.jinja" %}

{% set active_page = "search" -%}

{% block content %}
<div class="ui  container">
    <h2 class="ui divider horizontal header">Search Open Data</h2>
    <p style="margin-bottom: 1cm"/>
    <div class="container ui">
        <div class="ui text vertical segment ">
            <div class="ui fluid category search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" placeholder="Search..." id="keyword" value="{% if "keyword" in data %}{{data.keyword}}{% else %}{% endif %}">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {% if "results" in data %}
            {% if "entity" in data %}
            <div class="ui horizontal segments">
                <div class="ui segment">
                    <div class="ui big breadcrumb">
                        {% for p in data.entity.parents %}
                            <a class="section" href="{{ p.link }}">{{p.name}}</a>
                            <i class="right chevron icon divider"></i>
                        {% endfor %}
                      <div class="active section">{{data.entity.name}}</div>
                    </div>
                    <div class="ui right floated large buttons">
                      <button class="ui active primary button">Spatial entity</button>
                      <div class="or"></div>
                      <button class="ui button" id="fulltext">Full-text results</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="ui horizontal segments">
                <div class="ui center aligned segment">
                    <div class="ui right aligned large buttons">
                      <button class="ui active primary disabled button">Full-text results</button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if data.results|length > 0 %}
                <div class="ui relaxed divided list">
                    {% for r in data.results %}
                        <div class="item">
                          <div class="ui grid">
                            <div class="one wide column">
                              <div class="ui list">
                                  <div class="item">
                                    <button class="primary circular ui icon button preview" >
                                        <i class="table icon"></i>
                                    </button>
                                  </div>
                                  <!--<div class="item">
                                    <button class="primary circular ui icon button profile" >
                                        <i class="bar chart icon"></i>
                                    </button>
                                  </div>
                                  <div class="item">
                                    <button class="primary circular ui icon button" >
                                        <i class="info icon"></i>
                                    </button>
                                  </div>-->
                              </div>
                            </div>
                            <div class="fifteen wide column">
                              <div class="one wide column">
                              <div class="content">
                                <div class="ui grid">
                                  <div class="fifteen wide column">
                                    <div class="header"><a href="{{r.url}}">{{r.url}}</a></div>
                                    <div class="description">{{r.portal}}</div>
                                  </div>
                                  <div class="one wide column">
                                    <button class="ui icon circular button" style="visibility:hidden"><i class="diamond icon"></i></button>
                                  </div>
                                </div>
                                {% if r.row %}
                                    <table class="ui fixed table">
                                        {% if r.headers %}
                                        <thead>
                                            <tr>
                                            {% for header in r.headers %}
                                                <th>{{header}}</th>
                                            {% endfor %}
                                            </tr>
                                        </thead>
                                        {% endif %}
                                        <tbody>
                                           <tr>
                                               {% for value in r.row %}
                                                   {% if r.entities and r.entities[loop.index-1] %}
                                                        <td class="selectable positive">
                                                            <a href="{{r.entities[loop.index-1]}}" target="_blank">{{value}}</a>
                                                        </td>
                                                   {% else %}
                                                        <td>{{value}}</td>
                                                   {% endif  %}
                                               {% endfor %}
                                           </tr>
                                        </tbody>
                                    </table>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui center aligned segment"><h4>No results found</h4></div>
            {% endif %}

        {% if data.total > 10 %}
        <div class="ui container center aligned" style="margin-bottom: 2cm">
            <div class="ui pagination menu">

                {% for p_i in data.pages %}
                  {% if p_i == data.currentPage %}
                      <a class="item active">
                        {{p_i}}
                      </a>

                  {% else %}
                      <a class="item">
                        {{p_i}}
                      </a>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>

<div class="ui large modal">
  <i class="close icon"></i>
  <div class="header" id="table_header">
  </div>
  <div class="content" id="table_preview" style="height:400px;">
  </div>
</div>
</div>
{% endblock %}

{% block script %}

    $('.ui.search')
      .search({
        apiSettings: {
          url: 'searchapi?q={query}'
        },
        type: 'category'
      })
    ;

    $(".preview").click(function() {
        url = $(this).closest('.ui .grid');
        var urlval = url.find('div.header').children().text();
        $(table_header).text('Loading...')
        $(table_preview).html('<div class="ui loading segment" style="height:100%;width=100%"/>')
        loadTablePreview(urlval)
        $('.large.modal')
          .modal('show')
        ;
    });

    $("#fulltext").click(function() {
        var input = "{{data.keyword}}";
        a = "{{ url_for('ui.search')}}"
        if(input.length > 0){
        a+="?q="+input
            window.location.href=a
        }
    });

    $(".pagination .item").click(function(){
           var input = "{{data.keyword}}";
           a = "{{ url_for('ui.search')}}"
           if(input.length >0){
                var page = $.trim(decodeURIComponent($(this).text()).replace(/[\t\n]+/g,' '));
                a+="?q="+input+"&page="+page
                window.location.href=a
           }
    });

     $("#keyword").keyup(function(event){
         if(event.keyCode == 13){
            var input = document.getElementById("keyword").value;
            a = "{{ url_for('ui.search')}}"
            if(input.length > 0){
            a+="?q="+input
                window.location.href=a
            }
         }
     });

    function loadTablePreview(tableid) {
        $.get("{{ url_for('ui.preview') }}", {
            tableid: tableid
        }).done(function(table) {
            $(table_preview).empty()
            $(table_preview).append(table['data'])
            $(table_header).text(table['url'])
        }).fail(function() {
            $(table_preview).text("Error: Could not contact server.");
        });
    }

{% endblock %}
