{% extends "base_layout.jinja" %}
{% set active_page = "sparql" -%}


{% block headcss %}
    <link href='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.css' rel='stylesheet' type='text/css'/>
{% endblock %}


{% block headscripts %}
    <script src='//cdn.jsdelivr.net/yasgui/2.5.0/yasgui.min.js'></script>
{% endblock %}

{% block headerstyle %}
      .yasgui .endpointText {display:none !important;}
{% endblock %}


{% block content %}
<div class="ui  container">
    <h2 class="ui header">SPARQL Endpoint</h2>
    <div class="container ui">
        <div class="ui segment">
	        <div id='yasgui'></div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
  var namespaces = "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\
PREFIX dcat: <http://www.w3.org/ns/dcat#>\
PREFIX csvw: <http://www.w3.org/ns/csvw#>\
PREFIX gn: <http://www.geonames.org/ontology#>\
PREFIX timex: <http://data.wu.ac.at/ns/timex#>\
PREFIX csvwx: <http://data.wu.ac.at/ns/csvwx#>"
  console.log(namespaces)
  var yasgui = YASGUI(document.getElementById("yasgui"), {
    yasqe:{sparql:{endpoint:'http://data.wu.ac.at/odgraph/query/geodata/query'}}
  });
  yasgui.current().setQuery(namespaces)
{% endblock %}